body {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}
button {
    margin: 10px;
    margin-left: 50%;
    margin-right: 50%;
    width: 60px;
}
#container { 
    width: 960px;
    min-height: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    border-color: black;
    border: solid 1px;
}
.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 90vh;
    flex-basis: 6.25%;
    flex-grow: 1;

}
.row {
    flex-basis: 100%;
}